{% extends 'layouts/base.html' %}

{% block title %} Consultations {% endblock title %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Nos Consultations</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Consultations</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->


            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ sample-page ] start -->
                <div class="col-xl-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3 align-items-center">
                                <div class="col">
                                    <h4>Enregistrer une consultation</h4>
                                </div>
                            </div>
                            <form role="form" method="post" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}  <!-- CSRF Token -->

                                <div class="form-floating mb-3">
                                    {{ form.patient(class="form-select") }}
                                    <label>Patients</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.medecin(class="form-select") }}
                                    <label>Medecins</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.date_consultation(class="form-control", placeholder="Date de consultation") }}
                                    <label>Date de consultation</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.observations(placeholder="Observations", class="form-control") }}
                                    <label>Observations</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.ordonnance(placeholder="Ordonnance", class="form-control") }}
                                    <label>Ordonnance</label>
                                </div>

                                <div class="d-grid mt-4">
                                    <button type="submit" class="btn btn-secondary p-2">
                                        Enregistrer la consultation
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3 align-items-center">
                                <div class="col">
                                    <h4>Liste des consultations</h4>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Patient</th>
                                        <th>Médecin</th>
                                        <th>Date de consultation</th>
                                        <th>Observations</th>
                                        <th>Ordonnance</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consultation in consultations %}
                                        <tr>
                                            <td>{{ consultation.patient.nom }}</td>
                                            <td>{{ consultation.medecin.nom }}</td>
                                            <td>{{ consultation.date_consultation }}</td>
                                            <td>{{ consultation.observations }}</td>
                                            <td>{{ consultation.ordonnance }}</td>
                                            <td>
                                                <a href="{{ url_for('home_blueprint.delete_consultation', id_consultation=consultation.id_consultation) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- [ sample-page ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}
